[submodule "givelist-storefront"]
  path = givelist-storefront
  url = https://github.com/nathanhinish/givelist-storefront.git

[submodule "reaction"]
  path = reaction
  url = https://github.com/nathanhinish/reaction.git

[submodule "reaction-admin"]
  path = reaction-admin
  url = https://github.com/nathanhinish/reaction-admin.git

[submodule "reaction-hydra"]
  path = reaction-hydra
  url = https://github.com/reactioncommerce/reaction-hydra.git

[submodule "reaction-identity"]
  path = reaction-identity
  url = https://github.com/reactioncommerce/reaction-identity.git

