[submodule "example-storefront"]
  path = example-storefront
  url = https://github.com/reactioncommerce/example-storefront.git

[submodule "reaction"]
  path = reaction
  url = https://github.com/reactioncommerce/reaction.git

[submodule "reaction-admin"]
  path = reaction-admin
  url = https://github.com/reactioncommerce/reaction-admin.git

[submodule "reaction-hydra"]
  path = reaction-hydra
  url = https://github.com/reactioncommerce/reaction-hydra.git

[submodule "reaction-identity"]
  path = reaction-identity
  url = https://github.com/reactioncommerce/reaction-identity.git

[submodule "api-plugin-payments-paypal"]
  path = plugins/api-plugin-payments-paypal
  url = https://github.com/nathanhinish/reactioncommerce-api-plugin-payments-paypal.git

[submodule "api-plugin-wishlists"]
  path = plugins/api-plugin-wishlists
  url = https://github.com/nathanhinish/reactioncommerce-api-plugin-wishlists.git

[submodule "admin-plugin-wishlists"]
  path = plugins/admin-plugin-wishlists
  url = https://github.com/nathanhinish/reactioncommerce-admin-plugin-wishlists.git
